<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		
    
		<!-- Bootstrap CSS -->
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css">
		
		<title>Index</title>
	</head>
	<body>
    
    
    <footer class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <h3 class="footer-headers">Informations utiles</h3>
            <ul class="list-unstyled list-inline footer-list">
              <li>Poster une demande</li>
              <li>Nous contacter</li>
              <li>Toutes les questions</li>
              <li>Plan de site</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 footer-line">
            <h3 class="footer-headers">Découvrir</h3>
            <ul class="list-unstyled list-inline footer-list">
              <li>Poster une demande</li>
              <li>Nous contacter</li>
              <li>Toutes les questions</li>
              <li>Plan de site</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 footer-line">
            <h3 class="footer-headers">Contact</h3>
            <ul class="list-unstyled list-inline footer-list">
              <li>Poster une demande</li>
              <li>Nous contacter</li>
              <li>Toutes les questions</li>
              <li>Plan de site</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 footer-line">
            <h3 class="footer-headers">Questions fréquentes</h3>
            <ul class="list-unstyled list-inline footer-list">
              <li>Poster une demande</li>
              <li>Nous contacter</li>
              <li>Toutes les questions</li>
              <li>Plan de site</li>
            </ul>
          </div>
        </div>
      </div>		
    </footer> 
    
		<!-- Scripts -->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>